/*
Iteration 1 code for seating chart application.
Created and revised by JHKL 3/31/2015
 */


/* "Navigation bar"; found on left hand side. Important note that hiding scroll bar x.*/
nav {
	width: 300px;
	line-height:30px;
    height:975px;
    float:left;
	padding: 5px;
	overflow: scroll;
	overflow-x:hidden;
}

/* Header; title and such viewed on browser tab */
header {
	text-align: center;
}

/* Section; Main area with buttons for students, this is encapsulated inside of div */
section {
	padding-top: 20px;
}

/* div; Main area with buttons for students, */
div {
    width:1300px;
    float:left;
    border: 1px solid black;
	height:1000px;
	margin: 25px;
	overflow: scroll;
	overflow-x:hidden;
}

/* img; CSS styling for img elements used in website, defaulted to 100x100px. */
img {
	height: 100px;
	width: 100px;
}

/* button; Main class which is used in the home page*/
button {
	height: 100px;
	width: 125px;
	
	
}

/* attenBtn; Long buttons used for menu options and take attendance*/
button.attenBtn {
	width: 200px;
	height: 50px;
}

/* editBtn; Small square buttons used to edit and delete on viewexisting.html*/
button.editBtn {
	width:  50px;
	height: 50px;
	vertical-align:middle;
    margin:0 2px;
    display:inline-block;
}

/* seatLbl */
label.seatLbl {
	width: 100px;
	height: 15px;
	padding: 10px;
	margin: 15px;
}

/* foo; bar */